# core working library
torch
torchvision
# for getting backbone
timm
# interactive progress bar
tqdm
# for device management
accelerate
# image processing
Pillow
# fetching image from url
requests
# evaluation
pycocotools
# get data
roboflow